@chasert "utf-8";

html{
    height: 100%;
}
body{
    height: 100%;
    max-width: 1024px;
    width: 70%;
    margin: 0 auto;
    background: linear-gradient(0deg,#D95642,#D95642 5%,#404865 40%,#3C4866);
    text-align: center;
}

#container{
    text-align: center;
    display: block;
    flex-wrap: nowrap;
}

.logo{
padding-top: 100px;
width: 150px;
}

.blackwrapper{
    z-index: 1;
    padding: 50px;
    /* position: relative; */
    width: 30%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.2);
    color: #fff;

}
.insidewrapper{
    z-index: 2;
    /* position: absolute; */
    width: 90%;
    margin: 0 auto;
    /* text-align: center; */
}

.form-wrapper{
    padding-top: 30px;
    width: 70%;
    /* margin: 0 auto; */
    /* padding-bottom: 30px; */
}
p{
color: #fff;
margin-bottom: 5px;font-size: 1rem;
}

h2{
    color: #fff;
    font-size: large;
}


.createwrapper{
    justify-content: center;
    padding: 30px;
}



.box{
    text-align: left;
    margin-bottom: 15px;
}

.submit{
    text-align: right;
}

.back{
    padding-top: 50px;
}

a:visited{
    color: rgb(213, 213, 213);
}