@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background: url("../images/main_logo.png") no-repeat left top;
    background:#3C4767;
}

button{
    border: none;
    background-color: transparent;
}

.gray{
    color: #666666;
}
/* 上のバー部分 */
.header-wrapper{
    display: flex;
    flex-wrap: nowrap;
justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
}

.header-logo-img{
    padding-left: 40px;
    height: 70px;
    width: 80%;
    flex-grow: 3;
}

.header-wrapper2{
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 3;
    width: 80%;
    height: 70px;
    justify-content: space-between;
}


/* 名前、アイコン、メニュー */
.header-username{
display: flex;
align-items: center;
padding-left: 78%;
height: 70px;
z-index: 3;
}

.white{
    color: #fff;
    font-size: 12px;
}

.top_icon{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right: 30px;
}

.gnavi_wrap{
    flex-grow: 3;
    z-index: 3;
    margin: 0 auto;
    }

.menu-triangle,
a.menu-triangle{
    display: block;
    position: absolute;
    rotate: 90deg;
    color: #fff;
    transition: .35s ease-in-out;
}

.menu-triangle.active,
a.menu-triangle.active{
    display: block;
    position: absolute;
    rotate: 270deg;
    color: #fff;
    transition: .35s ease-in-out;
}

/*ドロップダウンメニュー,デフォルトでは非表示*/

.dropdown_lists{
    display: none;
}

/* ドロップダウンメニューと＞部分両方含むグループ */
.navi_home{
    list-style: none;
    display: block;
    flex-wrap: nowrap;
    position: absolute;
    padding-left: 20px;
    text-align: center;
}


.navi_home:hover
.dropdown_lists{
    transition: all .2s;
    display: block;
  position: relative;
  background:#ffffff;
  border: 0.5px solid #7c7878;
  width: 140px;
  margin-top: 20px;
  text-align: center;
}

.extendbutton{
    width: 100px;
    padding:20px;
    display: block;
    border: 0.5px solid #7c7878;
    text-align: center;
}


.inside_menu{
    list-style: none;
}

.extendbutton:hover,
a.extendbutton:hover{
    transition: all .2s;
    position: relative;
    background:#de564c;
    color: white;
    width: 100px;
    padding:20px;
    text-align: center;
}

ul li.inside_menu a{
    color: #000000;
    display: block;
}


.dropdown_list,
a.dropdown_list {
    transition: all .2s;
    width: 100px;
    padding:20px;
    display: block;
    position: relative;
    text-align: center;
} 




/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}

/* サイドバー部分 */
#side-bar{
    border-left: 1px solid #7c7878;
    max-width: 1024px;
    width: 30%;
    height: 785px;
    background-color: #fff;
}

#confirm{
    padding: 10px;
}

.member-list{
    flex-wrap: nowrap;
    padding: 10px;
}

.btn-wrapper{
    text-align: right;
}

.f-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fl{
height: 10px;
width: 90px;
}




#search{
    border-top:  1px solid #6C6C6C;
    padding-top: 20px;
    text-align: center;
}
/* サイドバー部分ここまで */




#main-wrapper{
    width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* index--------------------------------------------------- */
/* 上の呟き部分 */

#container{
    width: 100%;
    background-color: #fff;
    text-align: left;
}

.tweet-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 4px solid  rgb(211, 211, 211)
}

.tweet-wrapper-inside{
    width: 100%;
    display: flex;
        margin: 10px;
}

.icon-tweet{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 40px;
}

.form-group{
    margin: 20px;
}

.form{
    width: 300px;
}

/* 検索ボタン（共通） */
.search{
    width: 40px;
    height: 25px;
}

.form-control{
    width: 600px;
}


.icon-sent{
margin-top: 65px;
    width: 30px;
    height: 30px;

}
/* 上の呟き部分ここまで */


/* 呟き入力フォームの見た目 */
.form-control{
    padding: 20px;
    outline: none;
    border: none;
}


.timeline-wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
}

.timeline-table{
    width: 100%;
    justify-content:center;
    border-bottom: 3px solid #ccc;

}

.detailgroup{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}


.tweetgroup{
    width: 100%;
    border-bottom: 1px solid rgb(114, 114, 114);
    display: flex;
    flex-wrap: nowrap;
}

.tweet_username{
    padding-top: 30px;
    padding-left: 3%;
    font-size: 13px;
}


.tweet_time{
    padding-top: 30px;
    padding-left: 400px;
    font-size: 13px;
}


.tweet_tweet{
    padding-left: 14%;
    padding-bottom: 40px;
    width: 65%;
}

.icon-edit{
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}



.abc{
    position: relative;
}

.icon-delete,
a.icon-delete{
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    display: inline-block;
}

.icon-delete:hover,
a.icon-delete:hover{
    width: 30px;
    height: 30px;
    padding: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}

.btn,
a.btn {
  color: #fff;
  background-color: #3C4866;
  font-size: 5px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  appearance: none;
}

.btn:hover,
a.btn:hover {
  color: rgb(14, 13, 13);
  background: #5e6c8d;
  font-size: 5px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  appearance: none;
}

/* ツイート編集画面のモーダル中身 */


.tweet_update_container{
    background-color: #fff;
    display: block;
    width: 420px;
    height: 180px;

}

/* 編集枠を囲うdivクラス */
.update-inner{
margin-left: 30px;
margin-top: 20px;

}

.icon-edit2{
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    margin-left: 330px;
}

.modal-edit{
    background: url(images/edit.png);
}

.modalClosetext{
    text-align: center;
}

.modal_hidden{ /* ① モーダルウィンドウを非表示にする。*/
    display: none;
  }
  
  .modal-inner { /* ② モーダル背景を画面幅いっぱいに設定し、位置を固定する。 */
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #3d3b3b;
    opacity: 0.8;
    color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
  }
  
  .inner-content{ /* ③ モーダル内の要素全体の子要素を中央揃えにする。 */
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 1024px;
  }

  #modal-overlay {
    z-index: 1 ;
    display: none ;
    position: fixed ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 120% ;
    background-color: rgba( 0,0,0, 0.75 ) ;
}
.modalClose{ 
    cursor: pointer;
  }

/* ユーザー検索画面--------------------------------------------------- */

.user_search_wrapper{
    width: 100%;
    border-bottom: 1px solid  rgb(211, 211, 211);
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    padding-left: 50px;
}


.user_list_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    padding-left: 50px;
}

.a_username{
margin: 10px;
margin-left:100px;
}

.a_follow{
    margin: 10px;
margin-left: 100px;
}

.btn2,
a.btn2 {
  color: #fff;
  background-color: #7996D5;
  font-size: 5px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  width: 100px;

  border: none;
  outline: none;
  appearance: none;
}

.btn3,
a.btn2{
  color: #fff;
  background: #B75758;
  font-size: 5px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  width: 100px;

  border: none;
  outline: none;
  appearance: none;
}
/* 自分・相手のプロフィール画面--------------------------------------------------- */
.profile_up_wrapper{
    border-bottom: 4px solid rgb(211, 211, 211);
    padding: 20px;
}
.myprofile-wrapper{
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    height: 120px;

}

.myprofile1{
width: 60px;
height: 60px;
padding: 10px;
margin-right: 20px;
border-radius:50%;
}

.f_button_prf{
text-align:right;
margin-right: 10px;
margin-top: 80px;
}


.myprofile-container{
    width: 80%;
    text-align: center;
}

.pf_table{
    padding-top: 20px;
    text-align: left;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.th1{
    padding: 10px;
    align-items: center;
    width: 200px;

}

/* フォロー・フォロワー画面--------------------------------------------------- */
.followmembers-wrapper{
    margin: 0 auto;
    padding: 30px;
    text-align: left;
    color: #6C6C6C;
}
.members_inside{
    padding: 20px;
    color: #000000;
}
