@charset "utf-8";
html{
}
body{
}
/* header */
header{
    background: url("../images/main_logo.png") no-repeat left top;
    background:#3C4767;

}
.header-wrapper{display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.header-logo{flex-grow: 6;}

.header-username{flex-grow: 1;}

.gnavi_wrap{flex-grow: 1;}
/* 
.menu > li.menu__single {
    position: relative;
}

.menu__second-level {
    display: none;
}

li.menu__single ul.menu__second-level {
    position: absolute;
    top: 40px;
    width: 100%;
    background: #072A24;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
    top: 50px;
    display: block;

} */

/* 
.gnavi_lists{
    position: relative;
    transition: all .3s;
}

.gnavi_list{
    display: block;
}

.dropdown_lists {
    display: none;/*デフォルトでは非表示の状態にしておく*/
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
/* }
.gnavi_list:hover .dropdown_lists {
    display: block;/*Gナビメニューにホバーしたら表示*/
/* }
.dropdown_list {
    height: 60px;
    transition: all .3s;
    position: relative;
    background:#3C4767;
} */ */ */


/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}

/* サイドバー部分 */
#side-bar{
    /* flex: 0 0 19%; */
    border-left: 1px solid #6C6C6C;
    max-width: 1024px;
    width: 20%;
    height: 100vh;
  background-color: #faa;
}

#confirm{
    padding: 10px;
}

.member-list{
    flex-wrap: nowrap;
    padding: 10px;
}

.btn-wrapper{
    text-align: right;
}

.f-wrapper{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fl{
height: 10px;
width: 90px;
}




#search{
    border-top:  1px solid #6C6C6C;
    padding-top: 20px;
    text-align: center;
}
/* サイドバー部分ここまで */




#main-wrapper{
    width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


/* 上の呟き部分 */

#container{
    width: 100%;
    background-color: #fff;
    text-align: left;
    margin-left: 40px;
}

.tweet-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #ccc;
}

.tweet-wrapper-inside{
    width: 100%;
    display: flex;
        margin: 20px;
}

.icon-tweet{
    width: 70px;
    height: 70px;
}

.form{
    width: 300px;
}


.form-control{
    width: 600px;
}


.icon-sent{
margin-top: 20px;
margin-left: 600px;
    width: 30px;
    height: 30px;

}
/* 上の呟き部分ここまで */


/* 呟き入力フォームの見た目 */
.form-control{
    padding: 20px;
    outline: none;
    border: none;
}


.timeline-wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:center;
    background-color: royalblue;
}

.timeline-table{
    width: 100%;
    justify-content:center;
    background-color: pink;
    border-bottom: 3px solid #ccc;

}

.detailgroup{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}


.tweetgroup{
    width: 100%;
    border-bottom: 1px solid rgb(114, 114, 114);
    display: flex;
    flex-wrap: nowrap;
}

/* 
th{
    padding: 10px;
} */


.tweet_username{
    padding-top: 20px;
    padding-left: 5%;
    font-size: 13px;
}


.tweet_time{
    padding-top: 20px;
    padding-left: 500px;
    font-size: 13px;
}


.tweet_tweet{
    padding-left: 12%;
    padding-bottom: 40px;
width: 65%;
}

.icon-edit{
    width: 30px;
    height: 30px;
    padding: 10px;

}
.icon-delete{
    width: 30px;
    height: 30px;
    padding: 10px;
}


.btn,
a.btn {
  color: #fff;
  background-color: #3C4866;
  font-size: 5px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

.btn:hover,
a.btn:hover {
  color: rgb(14, 13, 13);
  background: #5e6c8d;
  font-size: 5px;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

/* ユーザー検索画面 */

.user_search_wrapper{
    width: 100%;
    border-bottom: 1px solid rgb(114, 114, 114);
    display: flex;
    flex-wrap: nowrap;
    padding: 30px;
}


.user_list_wrapper{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
}

.